@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* font-size: 15px; */
}

:root{
    --color-txt-first: white;
    --color-txt-second: #7A7C81;
    --color-txt-third: #76797E;
    --color-icons: #D2D2D2;
    --color-container-cover: #141922;
    --color-sidebar: #000000;
    --color-player-container: #282828;
    --color-topbar:rgba(0,0,0,0.4);
}

.ratio{
    aspect-ratio: 1/1;
}

.inline-block{
    display: inline-block;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.row{
    display: flex;
}

.col{
    flex-basis: calc(100% / 6);
}

.flex-column{
    flex-direction: column;
}

.shrink{
    flex-shrink: 0;
}

.flex-grow{
    flex-grow: 1;
}

.wrap{
    flex-wrap: wrap;
}

.stretch{
    align-items: stretch;
}

.jus-between{
    justify-content: space-between;
}

.jus-center{
    justify-content: center;
}

.pos-sticky{
    position: sticky;
}

.over-auto{
    overflow: auto;
}

.over-hidden{
    overflow: hidden;
}

.main-container{
    height: 100vh;
}

.cover-rnd{
    border-radius: 50%;
    overflow: hidden;
}

.cover-top-container{
    background-color: var(--color-container-cover);
}

.player-container{
    background-color: var(--color-player-container);
}

.sidebar{
    width: 200px; /* larghezza di debug */  /* da valutare nel corso dell'esercizio */
    background-color: var(--color-sidebar); 
}

.topbar{
    min-height: 80px; /* altezza di debug */
    background-color: var(--color-topbar);
}

.center-container{
    width: 40%;
    max-width: 400px;
}

.right-container{
    max-width: 190px;
    width: 20%;
}

.playlist-container-plus{
    width: 35px;
    height: 35px;
    background-color: var(--color-icons);
    justify-content: center;
    align-items: center;
}

.playlist-container-text{
    align-self: center;
    padding-left: .6rem;
}

.playlist-names{
    list-style: none;
    /* line-height: 1rem; */
    /* ricordati di usare dello spazio tra le liste */
}

.player-state{
    height: 4px;
    /* width: 360px; */
    background-color: var(--color-txt-second);
    border-radius: 4px;
}

.player-state::before{
    content: "";
    display: block;
    height: 4px;
    width: 100px;
    background-color: var(--color-icons);
    border-radius: 4px;
}

.player-volume{
    height: 4px;
    /* width: 130px; */
    background-color: var(--color-txt-second);
    border-radius: 4px;
}

.player-volume::before{
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    background-color: var(--color-icons);
    border-radius: 4px;
}

.navbar{
    text-align: center;
}

/************************CSS COLORS TEXT******************************************/
.cl-txt-first{
    color: var(--color-txt-first);
}

.cl-txt-second{
    color: var(--color-txt-second);
}

.cl-txt-third{
    color: var(--color-txt-third);
}









/***************************CSS SIZES-DIMESIONS**************************************/
.size-logo-first{
    width: 130px;
}

.size-icon-first{
    width: 25px;
}

.size-icon-second{
    width: 19px;
}

.size-icon-third{
    width: 6px;
}

.size-icon-fourth{
    width: 15px;
}

.size-img-first{
    width: 40px;
}

.size-img-second{
    width: 190px;
}

.size-player-first{
    width: 16px;
}

.size-player-second{
    width: 12px;
}

.size-player-third{
    width: 30px;
}

.card-pd-first{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-pd-second{
    padding: .8rem .8rem 2rem .8rem;
}

.play-pd{
    padding: 0 .5rem;
}

.volume-pd{
    padding-left: 1rem;
}

.gap-first{
    gap: 1rem;
}

.gap-second{
    gap: 2rem;
}









/***************************MEDIA QUERY RESPONSIVNESS+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 1100px) {
    .main-container{
        width: 980px;
    }
}

@media screen and (max-width: 1000px) {
    .main-container{
        width: 880px;
    }
}

@media screen and (max-width: 900px) {
    .main-container{
        width: 780px;
    }
}

@media screen and (max-width: 800) {
    .main-container{
        width: 680px;
    }
}

@media screen and (max-width: 700px){
    .main-container{
        width: 580px;
    }
}

@media screen and (max-width: 600px){
    .main.container{
        width: 480px;
    }
}

@media screen and (max-width: 500px){
    .main-container{
        width: 100%;
    }
}

