@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* font-size: 15px; */
}

small{
    font-size: 12px;
}

:root{
    --color-txt-first: white;
    --color-txt-second: #7A7C81;
    --color-txt-third: #76797E;
    --color-icons: #D2D2D2;
    --color-container-cover: #141922;
    --color-sidebar: #000000;
    --color-player-container: #282828;
    --color-topbar:rgba(0,0,0,0.3);
}

.d-none{
    display: none;
}

.inline-block{
    display: inline-block;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.row{
    display: flex;
}

.col-six{
    flex-basis: calc((100% / 6) - 1rem);
}

.col-two{
    flex-basis: calc((100% / 2) - 1rem);
}

.flex-column{
    flex-direction: column;
}

.shrink{
    flex-shrink: 0;
}

.flex-grow{
    flex-grow: 1;
}

.wrap{
    flex-wrap: wrap;
}

.stretch{
    align-items: stretch;
}

.jus-between{
    justify-content: space-between;
}

.jus-center{
    justify-content: center;
}

.pos-sticky{
    position: sticky;
}

.over-auto{
    overflow: auto;
}

.over-hidden{
    overflow: hidden;
}

.txt-cntr{
    text-align: center;
}

.main-container{
    height: 100vh;
}

.cover-rnd-down{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid white;
}

.cover-rnd-user{
    width: 25px;
    background-color: #808080;
    border-radius: 50%;
    height: 25px;
    overflow: hidden;
}

.rnd-bord{
    border-radius: 50%;
}

.cover-top-container{
    background-color: var(--color-container-cover);
}

.player-container{
    background-color: var(--color-player-container);
    gap: 16rem;
}

.sidebar{
    width: 200px; /* larghezza di debug */  /* da valutare nel corso dell'esercizio */
    background-color: var(--color-sidebar); 
}

.topbar{
    min-height: 80px; /* altezza di debug */
    background-color: var(--color-topbar);
}

.center-container{
    width: 40%;
    max-width: 400px;
}

.right-container{
    max-width: 190px;
    width: 20%;
}

.playlist-container-plus{
    width: 35px;
    height: 35px;
    background-color: var(--color-icons);
    justify-content: center;
    align-items: center;
}

.playlist-container-text{
    align-self: center;
    padding-left: .6rem;
}

.playlist-names{
    list-style: none;
    line-height: 2rem; 
}

.player-state{
    height: 4px;
    /* width: 360px; */
    background-color: var(--color-txt-second);
    border-radius: 4px;
}

.player-state::before{
    content: "";
    display: block;
    height: 4px;
    width: 30%;
    background-color: var(--color-icons);
    border-radius: 4px;
}

.player-volume{
    height: 4px;
    /* width: 130px; */
    background-color: var(--color-txt-second);
    border-radius: 4px;
}

.player-volume::before{
    content: "";
    display: block;
    height: 4px;
    width: 30%;
    background-color: var(--color-icons);
    border-radius: 4px;
}

.top-nav{
    justify-content: center;
    gap: 1.5rem;
    font-size: 13px;
    flex-wrap: wrap;
}



/**************************************************CSS HOVER COVER ALBUM *******************************************************/
.img-filter-hover{
    display: flex;
    position: relative;
}

.filter-hover{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top; 0;
    display: none;
}

.play-hover{
    display: none;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-filter-hover:hover .filter-hover{
    display: block;
}

.img-filter-hover:hover .play-hover{
    display: block;
}









/************************CSS COLORS TEXT******************************************/
.cl-txt-first{
    color: var(--color-txt-first);
}

.cl-txt-second{
    color: var(--color-txt-second);
}

.cl-txt-third{
    color: var(--color-txt-third);
}









/***************************CSS SIZES-DIMESIONS**************************************/
.size-logo-first{
    width: 130px;
}

.size-icon-first{
    width: 25px;
}

.size-icon-second{
    width: 19px;
}

.size-icon-third{
    width: 6px;
}

.size-icon-fourth{
    width: 15px;
}

.size-img-first{
    width: 40px;
}

.size-img-second{
    max-width: 100%;
}

.size-player-first{
    width: 16px;
}

.size-player-second{
    width: 12px;
}

.size-player-third{
    width: 30px;
}

.card-pd-first{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-pd-second{
    padding: .8rem .8rem 2rem .8rem;
}

.card-pd-album-container{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.play-pd{
    padding: 0 .5rem;
}

.volume-pd{
    padding-left: 1rem;
}

.gap-first{
    gap: 1rem;
}

.gap-album{
    gap: 1rem;
}

.gap-second{
    gap: 2rem;
}

.gap-third{
    gap: .5rem;
}

.gap-fourth{
    gap: .8rem;
}

.gap-heart-folder{
    gap: 1rem;
}

.gap-player-state{
    gap: 2rem;
}

.gap-user{
    gap: .5rem;
}

.gap-down{
    gap: .8rem;
}

.pd-logo{
    padding-bottom: 1.7rem;
}

.pd-home{
    padding-bottom: 1.2rem;
}

.pd-right{
    padding-right: 1rem;
}

.pd-left{
    padding-left: 2rem;
}

.album-max-width{
    width: calc(100% / 3);
}





/***************************MEDIA QUERY RESPONSIVNESS+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 1100px){
    .main-container{
        width: 878px;
    }

    .gap-album{
        gap: .5rem;
    }

    .album-max-width{
        width: calc(100% / 2);
    }

    .col-six{
        flex-basis: calc((100% / 4) - .5rem);
    }

    .col-two{
        flex-basis: calc((100% / 2) - .5rem);
    }

    .player-container{
        background-color: var(--color-player-container);
        gap: 4rem;
    }

    .gap-player-state{
        gap: 1rem;
    }
}

@media screen and (max-width: 858px){
    .main-container{
        width: 639px;
    }

    .gap-album{
        gap: .5rem;
    }

    .album-max-width{
        width: 100%;
    }

    .col-six{
        flex-basis: calc((100% / 2) - .5rem);
    }

    .player-container{
        background-color: var(--color-player-container);
        gap: 1rem;
    }

/*  .gap-player-state{
        gap: 0;
    } */
    
    .heart-folder{
        flex-direction: column;
    }

    .gap-heart-folder{
        gap: .3rem;
    }

    .pd-left{
        padding-left: 0.5rem;
    }
}

@media screen and (max-width: 619px){
    .main-container{
        width: 552px;
    }

    .gap-album{
        gap: .5rem;
    }

    .album-max-width{
        width: 100%;
    }

    .col-six{
        flex-basis: calc((100% / 2) - .5rem);
    }

    .player-container{
        background-color: var(--color-player-container);
        gap: 1rem;
    }

/*  .gap-player-state{
        gap: 0;
    } */
    
    .heart-folder{
        flex-direction: column;
    }

    .gap-heart-folder{
        gap: .3rem;
    }

    .pd-left{
        padding-left: 0.2rem;
    }

    .inline-block{
        display: none;
    }

    .d-none{
        display: block;
    }

    hr{
        display: none;
    }

    .logo-int{
        display: none;
    }

    .sidebar{
        width: 40px; /* larghezza di debug */  /* da valutare nel corso dell'esercizio */
        background-color: var(--color-sidebar); 
        align-items: center;
    }

    .card-pd-first{
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .down-user{
        align-items: center;
    }

    .gap-down{
        gap: 0;
    }

    .gap-user{
        gap: 0;
    }
}

